*.py[doc]
__pycache__

*.egg-info

*test*

start_env.sh

validation/rna_seq/SRAs/*
validation/rna_seq/e_coli/*
validation/rna_seq/b_sub_168/*
validation/rna_seq/p_fluor/*
validation/rna_seq/p_aeru/*
validation/rna_seq/m_tuber/*
validation/rna_seq/s_elon/*
validation/rna_seq/a_fischeri_ES114/*
validation/rna_seq/a_rabiei/*
validation/rna_seq/b_theta/*
validation/rna_seq/c_vibrioides/*
validation/rna_seq/s_spcc6803/*
validation/rna_seq/s_coelicolor/*
validation/rna_seq/a_kunk/*
validation/rna_seq/k_pneum/*
validation/rna_seq/x_albi/*
validation/rna_seq/s_sanguinis/*
validation/rna_seq/s_enter_typh/*
validation/rna_seq/a_baum/*
validation/rna_seq/b_frag/*
validation/rna_seq/c_basil/*
validation/rna_seq/d_vulg/*
validation/rna_seq/e_fae/*
validation/rna_seq/m_smeg/*
validation/rna_seq/s_meli/*
validation/rna_seq/c_diff/*
validation/rna_seq/b_xyla/*
validation/rna_seq/x_ory/*
validation/rna_seq/e_limo/*

validation/alignment/outputs/**/switch_seqs_delta*

**/.vscode
*__ex__.*
